# 자료형 (data type)
    * 종류
        * 기본자료형(수정 불가) : int, float 문자형 str 그외 complex, function
        * 집합 자료형
         list tuple dict set 
         
        수정 가능한 자료형 list dict set 나머지 불가능
        순서가있는 없는

In [19]:
#숫자를 문자로 바꾸는 str 함수

a = "a" + str(10)
print(a)
print("-" *10) #  *연산자 = 반복!!(문자와 사용할때 , 숫자와 사용하면 곱하기 연산

a10
----------

## 문자 추가하기위해서 +연산자 사용

In [23]:
a = "im tired"
a = a + "becaues i have no americano"
print(a)

im tiredbecaues i have no americano

In [38]:
#줄바꿈 하기위한 특수문자
a= "안녕하세요 \n반갑습니다"

print(a) # \n 사용하면 줄바꿈 
a  = "안녕하세요 \t반갑습니다."# tap 기능
print(a)
#  \문자를 쓰기위해서는 || 2번 쓰면됨
b = "\\t는 탭기의 기능입니다"
print(b)
print("\"\\n은 인터키입니다.\"")

안녕하세요
반갑습니다
안녕하세요 	반갑습니다.
\t는 탭기의 기능입니다
"\n은 인터키입니다."

In [39]:
#문자열 작석할때 엔터치고 여러줄로 작성하고싶을때는 """3개 사용하기"""

b= """asilnel;iansl;anf
alsienf;laisnefl;inasef
asilenlfaseinf"""
print(b)

asilnel;iansl;anf
alsienf;laisnefl;inasef
asilenlfaseinf

## 인덱스 = 문자열 안의 특정한 값을 뽑아내는 역활 이러한 작업
## indexing = 가리킨다. 특정한것
## SLicing  잘라낸다. 구간을 나타내는것  0 ~ n-1

In [40]:
a = "life is short"
a[0:4] # 0~ 3까지

'life'

In [41]:
a[5:7] #is 만 뽑아내기

'is'

In [45]:
#수정불가
str1 = "python"
# str1[1] = "y" 이런거 안됨 문자열중 하나 못바꿈
#방법은 슬라이싱 + 수정할 문자 = 바꾸는법
str1[0] + "i" +str1[2:]

'pithon'

In [ ]:
# count(), find(), index(), join(), split() 문자열 관련 함수
# len()은 파이썬 함수 
# 공백의 개수 a.count(' ')

In [54]:
a= " life is short "
print(a.count(' '))
print(a.find('is')) # 못찾으면 -1 반환
#index는 없으면 오류

4
6

In [ ]:
 s3 =

In [72]:
num = 1
num2 = 2
print("덧셈 결과: {0} + {1} = {2}". format(num,num2,num+num2))

덧셈 결과: 1 + 2 = 3

---

### list 
*임의의 객체를 순차적으로 저장하는 집합적 자료형
*각 값에 대해서 인덱스가 부여됨
*수정이 가능함 [] 를 사용 a[n] = x

In [15]:
b = [10,20,30,['a','b','c']]
print(b[3][1])
print(b[3][2])

b
c

# print(b[3][1:])  이방법도있음

# 복사 (얕은복사, 깊은복사)
a = [1,2,3,4,5]
b = a   <<<데이터12345는 하나고 주소만 복사한것.
b[0] = 10
print(a)
print(b)
# b를 바꿧는데 a도 바뀜 >>> 얕은복사라서

In [25]:
a = [1,2,3,4,5]
c = a[:]
print(c) #깊은 복사 첫번째 방법이고 함수로도 할수있음

[1, 2, 3, 4, 5]

In [2]:
a = [1,2,3,4,5]
c = a[:]
c[0] = 100
print(a)
print(c)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

# 리스트 만들기
a = [ a,b,c,,,,,] < 값을 넣어서 만드는 방법
a = [] , a=list() <<< 방법도있음(나중에 추가할 목적)

# range 함수 사용법

In [1]:
print(list(range(10)))
print(list(range(5,12)))
print(list(range(0,11,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[0, 2, 4, 6, 8, 10]

In [8]:
# 삽입, 추가 : insert()추가하는 위치 지정가능 그리고 하나씩 밀림
#,append() 맨마지막에 자동 추가, extend()(여러개 가능 합집합 확장의 의미)
a = []
a.append(10)
a.append(20)
a.append(30)
print(a)
a.insert(0,5)
print(a)
a.append([1,2,3])
print(a)
a.extend([1,2,3,]) # a = a + [1,2,3] 동일 
print(a)

[10, 20, 30]
[5, 10, 20, 30]
[5, 10, 20, 30, [1, 2, 3]]
[5, 10, 20, 30, [1, 2, 3], 1, 2, 3]

In [18]:
a =[1,4,3,2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

# 리스트 삭제방법 a[1:3] = []  빈것 []넣기
# remove 삭제할 데이터 지정하기
# 중복으로 삭제하지 않고 첫번째 데이터만 삭제
# del n번째 부분 삭제

In [19]:
a.remove(3)
print(a)

[4, 2, 1]

In [20]:
del a[1]
print(a)

[4, 1]

# 전체 데이터 삭제 하기위해서는 
a[:] = [] 첫번째 방법
두번째는 remove로 노가다 삭제 
del a 하면 다지워짐

In [21]:
del a 
print(a)

NameError: name 'a' is not defined

In [27]:
a = [1,2,3,] 
b = a.pop()  # 꺼낸것을  b에 저장
print(b)
print(a)
print(2 in a)

3
[1, 2]
True

# 튜플
    * () 사용, 수정불가

# 자료형 함수 
# str(), int() bool(), float(), list()

In [31]:
a = 10
print(type(a))

<class 'int'>

In [33]:
b = str(a)
print(type(b))

<class 'str'>

# Packing ,Unpacking
 여러개의 데이터를 묶으면 튜플로 됨

In [40]:
a , b, c = (10, 20,30)
a = 10,20,30 # Packing
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

# 튜플 
튜플은 그값을 바꿀 수 없음

인덱싱
    리스트와 같음

In [1]:
t1 = (1,2,'a','b')
t1[0]

1

In [2]:
#슬라이싱
t1[1:] # 1부터 끝까지

(2, 'a', 'b')

In [4]:
#튜플 더하기
t2 = ( 3, 4,)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [6]:
#튜플 길이 
print(len(t1))
print(len(t2))

4
2

# 딕셔너리 자료형 
## 순서대로 요솟값 구하지않고 key를 통해 value찾음

In [7]:
#딕셔너리 쌍 추가하기
a= {1:'a'}
a[2] = 'b' # {2:'b'} 쌍 추가
a

{1: 'a', 2: 'b'}

In [8]:
a['name'] = 'pey' #또다른 추가방법
a

{1: 'a', 2: 'b', 'name': 'pey'}

## value 얻는 방법은 key 이름으로

In [9]:
dic = {'name' :'최인성', 'phone':'104204', 'birth':'3.14', 'squat':'110', 'bench':'80'}
print(dic['bench'])
print(dic['squat'])

80
110

In [10]:
dic[1] # 순서로는 안됨

KeyError: 1

# 딕셔너리 관련함수 !!!!!!!!!!!
### key리스트keys, value리스트 values, key value 쌍얻기 items
### Key:value 쌍 지우기clear key value 얻기 get 
### 해당 key가 딕셔너리에 있는지 in

In [16]:
dic.keys()

dict_keys(['name', 'phone', 'birth', 'squat', 'bench'])

In [17]:
dic['shoulder press']= '50'

In [18]:
dic.keys()

dict_keys(['name', 'phone', 'birth', 'squat', 'bench', 'shoulder press'])

In [27]:
#정보를 알고싶을때 values 사용
dic.values()

dict_values(['최인성', '104204', '3.14', '110', '80', '50'])

In [29]:
#쌍으로 얻고 싶다 = items
dic.items()

dict_items([('name', '최인성'), ('phone', '104204'), ('birth', '3.14'), ('squat', '110'), ('bench', '80'), ('shoulder press', '50')])

## 이와같이 keys, values, items 들은 리스트를 반환해서  메모리 낭비가 발생
for 사용

In [31]:
for k in dic.keys():
    print(k)

name
phone
birth
squat
bench
shoulder press

In [44]:
a = [1,2,3,4]
while a:
    a.pop()
    print(a)

[1, 2, 3]
[1, 2]
[1]
[]

In [55]:
pin = "881120-108234"
yymmdd = pin[0:6]
num = pin[7:]
print(yymmdd)
print(num)

881120
108234

In [59]:
a = pin.find('-')+1
print(pin[a:])

108234

In [61]:
print(pin[pin.index('-')+1])

1

In [62]:
a ="a:b:c:d"
b =a.replace(":", "#")

In [63]:
print(b)

a#b#c#d

In [65]:
a = [1,3,5,4,2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [66]:
a = ['life', 'is', 'too', 'short']
result = a[0] +a[1]
print(result)

lifeis

In [68]:
money = 2000
card = True
if money >=3000 or card :
    print("택시")
else:
    print("걸어가라")

택시

In [69]:
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [76]:
sum =0
for i in range(1,11):
    sum += i
print("합 : %d" % (sum))

합 : 55

In [77]:
sum = 0
x = 0
while(x<10):
    x+=1
    sum +=x
print("합 : %d"%(sum))

합 : 55

In [13]:
milk_order = {'101':{'서울우유(200ml)':1,' 남양 요구르트':5},
             '102':{'서울우유(500ml)':2},
             '103':{'남양우유(1l)':1,'남양 요구르트':10},
             '104':{'서울요구르트':15}}

#for x in milk_order.keys():
#    print("%d호에 배달할 우유 %d를 %d개\n"%(x,x,x))

print(milk_order['101'])
print(milk_order['102'])
print(milk_order['103'])
print(milk_order['104'])
a2 = milk_order['101']

{'서울우유(200ml)': 1, ' 남양 요구르트': 5}
{'서울우유(500ml)': 2}
{'남양우유(1l)': 1, '남양 요구르트': 10}
{'서울요구르트': 15}

KeyError: 0

In [14]:
routine = ['bench','squat','dead']
if 'bench' in routine:
    print("3대몇")
else:
    print("3대안함")

3대몇

## 조건문에서 아무 일도 하지 않게 설정하고 싶으면 pass

In [16]:
routine = ['bench','squat','dead']
if 'bench' in routine:
    print("밴치몇")
elif 'squat' in routine:
    print("스쾃몇")
elif 'dead' in routine:
    print("데드몇")
else :
    print("3대안함")

밴치몇

In [19]:
weight = 0
while weight < 200:
    weight += 30
    message = str(weight) + "kg들었습니다"
    print(message)
    if weight > 200:
        print("그러다 죽어요")

30kg들었습니다
60kg들었습니다
90kg들었습니다
120kg들었습니다
150kg들었습니다
180kg들었습니다
210kg들었습니다
그러다 죽어요

In [23]:
prompt = """
    1. Add
    2. Del
    3. List
    4. Quit
    
    Enter number:"""

number = 0
while number !=4:
    print(prompt)
    number = int(input())

    1. Add
    2. Del
    3. List
    4. Quit

    Enter number:
1

    1. Add
    2. Del
    3. List
    4. Quit

    Enter number:
2

    1. Add
    2. Del
    3. List
    4. Quit

    Enter number:
4

1

In [22]:
2

2

In [ ]:
coffee = 10
while True:
    money = int(input("돈을 넣어주세요:"))
    if money ==300:
        print("커피를 줍니다.")
        cofee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." %(money-300))
        coffee  = coffee -1
    else:
        print("든을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다" % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

# while 문의 맨처음으로 돌아가기 continue

In [9]:
a = 0
while a < 10:
    a = a +1
    if a%2 == 0:continue
    print(a)

1
3
5
7
9

In [22]:
marks = [50 , 40, 30, 70,80]
number = 0
for mark in marks:
    number = number +1
    if mark >= 60:
        print("%d번 학생은 합격입니다."% number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 불합격입니다.
2번 학생은 불합격입니다.
3번 학생은 불합격입니다.
4번 학생은 합격입니다.
5번 학생은 합격입니다.

In [24]:
sum = 0
for i in range(1,11):
    sum = sum +i
    
print(sum)

55

In [26]:
marks = [50 , 40, 30, 70,80]
number = 0
for number in range(len(marks)):
    if marks[number] >50:
        print("%d번 학생은 합격입니다."% number)
    else:
        print("%d번 학생은 불합격입니다." % number)

0번 학생은 불합격입니다.
1번 학생은 불합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.

# 리스트 내포  리스트 생성할때 for 문 사용해서 생성

In [28]:
a = [1,2,3,4]
b = [num *3 for num in a]
print(b)

[3, 6, 9, 12]

In [29]:
b= [num * 3 for num in a if num%2 ==0]
print(b)

[6, 12]

# [표현식 for 항목 in 반복가능객체 if 조건]

In [30]:
sum = 0
number = 0
while number < 1000:
    number += 1
    if number % 3 ==0:
        sum= sum +number
print(sum)

166833

In [34]:
message = "*"
num = 0
while num<5:
    print(message)
    num += 1
    message +="*"

*
**
***
****
*****

In [35]:
for i in range(0,101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [36]:
A = [70,60,55,75,95,90,80,80,85,100]
total = 0
for score in A:
    total+=score
average = total/len(A)
print(average)

79.0

In [39]:
number = [1,2,3,4,5]
result = []
for n in number:
    if n % 2 == 1:
        result.append(n*2)
        
print(result)

[2, 6, 10]

In [43]:
number = [1,2,3,4,5]
result = [num *2 for num in number if num%2==1]
print(result)

[2, 6, 10]

# 매개변수 = 함수에 입력으로 전달되는 값
def add(a, b,): < 매개변수
# 인수 = 함수를 호출할 때 전달하는 입력 값
print(add(3,4)) < 인수
# 입력값을 여러개 받는 함수 만들기 
# def 함수명(*매개변수):

In [47]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result +i
    elif choice == "mul":
        result =1 
        for i in args:
            result = result *i
    return result

b = add_mul('add',1,3,4,5)
print(b)
b= add_mul('mul',1,2,3,4,5)
print(b)

13
120

# 키워드 파라미터 = 딕셔너리 
# 관례적으로 keyword arguments = kwargs

In [48]:
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)
print_kwargs(name='foo', age = 3)

{'a': 1}
{'name': 'foo', 'age': 3}

# 함수의 리턴값 여러가지 일 경우 튜플값으로 나옴

# 초기값 미리 설정하기 , 설정할 매개변수는 마지막에, 함수 사용할때 인수 없으면 자동으로 초기값설정됨

In [51]:
def say_myself(name, old, man = True):
    print("나의 이름은 %s입니다. "%name)
    print("나의 나이는 %d입니다. "%old)
    if man:
        print("남자입니다")
    else:
        print("여자입니다")
        
        
say_myself("ㅇㅇㅇ",10)
say_myself("ㅇㅇㅇㅇ",20,False)

나의 이름은 ㅇㅇㅇ입니다.
나의 나이는 10입니다.
남자입니다
나의 이름은 ㅇㅇㅇㅇ입니다.
나의 나이는 20입니다.
여자입니다

# 함수 안에서 함수 밖 변수 바꾸기
    1. return 사용 ( 함수를 사용하여 밖에서 바꿈
    2. global 사용 ( return 안하고 안에서 바꿀수 있음, 파라미터 x )

In [53]:
def change(a):
    return a+1

a= 1
a = change(a)
print(a)

2

In [58]:
a = 1
def change():
    global a
    a = a +1
    

change()
print(a)

2

# lambda = 함수 1회성으로 사용할때

In [59]:
add = lambda a,b : a+b
result = add(3,4)
print(result)

7

In [60]:
number = input("숫자를 입력하세요:")

숫자를 입력하세요:3

In [61]:
print(number)

3

In [62]:
a = input()

slksnlskn

In [63]:
a

'slksnlskn'

# Print 또다른 기능
1. 문자열 띄어쓰기는 콤마로 가능
2. 한줄에 결과값 출력하기(한줄에 결과값을 계속 이어서 출력하려면 매개변수 end를 사용해 끝 문자를 지정해야한다. 쓰고싶은 내용을 end = '~~~'

In [64]:
print("life","is","short")

life is short

In [67]:
for i in range(10):
    print(i,end=',   ')

0,   1,   2,   3,   4,   5,   6,   7,   8,   9,